@import "tailwindcss";

:root {
  --background: #10182C;
  --foreground: #21194D; 
}

body {
  background: linear-gradient(to right, var(--background), var(--foreground));
  color: white
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-900 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-800;
}
